html, body {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  height: 100%;
}


.explode {
  animation: explode 0.5s forwards;
}

@keyframes explode {
  0% {
    transform: scale(1);
    opacity: 1;
  }
  100% {
    transform: scale(1.5);
    opacity: 0;
  }
}

h1 {
  margin: 20px 0;
  text-align: center;
}

img {
  border-radius: 50%;
  width: 150px;
  height: 150px;
}


.container {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.component {
  position: absolute;
  transition: all 0.5s ease;
}
